@model Headstone.AI.Models.ViewModels.TransactionViewModel
@{
    ViewBag.Title = "Ödeme Detayları";
    Session["PageName"] = "transactions";
}
@section head{
}

<section id="content" class="animated fadeIn">
    <div class="ph10">
        <h2>Ödeme Detayları > </h2>
        <hr class="alt short">


    </div>
</section>



@section scripts{


}

