@{
    ViewBag.Title = "Markalar";
    Session["PageName"] = "trademarks";
}

@section head{
    <!-- Kendo Telerik CSS -->
    <link href="https://kendo.cdn.telerik.com/2016.2.714/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.714/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.714/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Kendo Telerik JS -->
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/messages/kendo.messages.tr-TR.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/cultures/kendo.culture.tr-TR.min.js"></script>
}

<section id="content" class="animated fadeIn">
    <!-- Page Intro -->
    <div class="mb20">
        <h4>Markalar</h4>
        <hr class="alt short">
        <div class="row">
            <div class="col-md-8">
                <p class="text-muted">
                    Markaları belirli bir sütuna göre gruplamak için lütfen bu sütunun başlığını aşağıda belirtilen alana sürükleyip bırakınız. Sıralama yapmak için ise lütfen ilgili sütunun adına, filtreleme için ise ilgili sütunun isminin sağında bulunan ok imlecine tıklayınız.
                </p>

            </div>
        </div>
    </div>
    <!-- End of Page Intro -->
    <!-- Trademark List -->
    <div class="row">
        <div class="col-md-12">

            <!-- Kendo Listing -->
            @(Html.Kendo().Grid<Headstone.AI.Models.ViewModels.TrademarkViewModel>().Name("Trademarks").Columns(cols =>
                 {
                     cols.Bound(u => u.TrademarkId).Title("Marka ID").ClientTemplate("<a href='" + Url.Action("Details", "Trademarks") + "/#=TrademarkId#'>#=TrademarkId#</a>"); ;
                     cols.Bound(u => u.Name).Title("Marka Adı");
                     cols.Bound(u => u.ShortDescription).Title("Açıklama");
                     cols.Bound(u => u.Code).Title("Marka Kodu");
                     cols.Bound(u => u.ERPCode).Title("ERP Kodu");
                     cols.Template(u => Html.ActionLink("Görüntüle", "View", new { id = u.TrademarkId })).ClientTemplate("<a href='" + Url.Action("Details", "Trademarks") + "?id=#=TrademarkId#'>Görüntüle</a>");
                })
                .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("GetTrademarks", "Trademarks")).PageSize(50))
                .Groupable()
                .Filterable()
                .Pageable(pageable => pageable.Refresh(true).PageSizes(new int[] { 25, 50, 100, 1000 }).ButtonCount(5))
                .Sortable()
            )

        </div>
    </div>
    <!-- Trademark List -->
</section>

@section scripts{
    <script type="text/javascript">
        kendo.culture("tr-TR");
    </script>
}