@model Headstone.AI.Models.ViewModels.ProductConfigurationViewModel

@{
    ViewBag.Title = "Yetkilendirme";
    Session["PageName"] = "authorization";
}
@section head{
}

<section id="content" class="animated fadeIn">
    <h2>Yetkilendirme</h2>
    <hr class="alt short">
    <div class="row">
        <div class="col-md-12">
          
        </div>
    </div>
</section>


@section scripts{

   
}
