
@{
    ViewBag.Title = "Favorilerim";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!-- Product Section start -->
<section>
    <div class="container">
        <div class="row">
            <h3 class="col-3 favorites-title">Favorilerim</h3>
        </div>
        <div class="row product-layout grid-layout">
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/1.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/2.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/3.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/4.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/5.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/6.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/7.jpg" alt="">
                        <span class="discount-tag">-20%</span>
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/8.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/9.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/10.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/11.jpg" alt="">
                        <span class="discount-tag">-20%</span>
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-product">
                    <figure class="products-img">
                        <img src="~/Content/images/Icons/products/shop/12.jpg" alt="">
                        <div class="pd-hover">
                            <a href="#"><i class="far fa-heart"></i></a>
                            <a href="#"><i class="fas fa-eye"></i></a>
                            <a href="#"><i class="fas fa-retweet"></i></a>
                        </div>
                        <a href="#" class="addTocart-btn"><i class="fas fa-shopping-cart"></i></a>
                    </figure>

                    <div class="products-desc">
                        <div class="ratings">
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#" class="filled"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5><a href="shop-details.html" class="product-title">Oslo Wood Lighting - NYHET</a></h5>
                        <span class="product-price">$290 <small>$299</small></span>
                        <p>Donec viverra porta lacinia. Ut accumsan commodo nulla, sit amet iaculis odio sagittis ac. Pellentesque nec enim id nisl congue ultrices. In quis vehicula tellus. Aliquam imperdiet facilisis purus.</p>
                        <a href="#" class="btn btn-filled"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Section end -->
