@model Headstone.AI.Models.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Yeni Kullanıcı Rolü";
    Session["PageName"] = "roles";
}

<section id="content">
    <!-- Page Intro -->
    <div class="mb20">
        <h4>Yeni Rol</h4>
        <hr class="alt short">
        <div class="row">
            <div class="col-md-8">
                @*<p class="text-muted">Note that the page header above may not be needed since it's been already included in the breadcrumb section.</p>
                <p class="text-muted">Also, type some introductory text about current page content. Lorem ipsum dolor sit amet,  is nisi ut aliquip ex ea commodo consectetur adipi sicing elit, sed do eiusmod tempor incididu ut labore et is nisi ut aliquip ex ea commodo dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exetation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
            </div>
        </div>
    </div>
    <!-- End of Page Intro -->

    <div class="row mb25">
        <!-- Role Detail Table -->
        <div class="col-md-8 mw500">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="w150 fw600">Rol Adı</td>
                        <td><input class="form-control" type="text" name="Name" /></td>
                    </tr>
                    <tr>
                        <td class="fw600">Rol Durumu</td>
                        <td class="admin-form">
                            <label class="switch switch-success switch-inline">
                                <input id="roleStatus" type="checkbox" checked="" name="Status">
                                <label for="roleStatus"></label>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="fw600">Kullanıcı Yönetimi</td>
                        <td>
                            <div class="w100 inline-object checkbox-custom checkbox-success">
                                <input type="checkbox" checked="" id="cb1" name="UserRead">
                                <label for="cb1">Okuma</label>
                            </div>
                            <div class="w100 inline-object checkbox-custom checkbox-success">
                                <input type="checkbox" checked="" id="cb2" name="UserWrite">
                                <label for="cb2">Yazma</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="fw600">Bayi Yönetimi</td>
                        <td>
                            <div class="w100 inline-object checkbox-custom checkbox-success">
                                <input type="checkbox" checked="" id="cb3" name="ResellerRead">
                                <label for="cb3">Okuma</label>
                            </div>
                            <div class="w100 inline-object checkbox-custom checkbox-success">
                                <input type="checkbox" checked="" id="cb4" name="ResellerWrite">
                                <label for="cb4">Yazma</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="fw600">Rapor Yönetimi</td>
                        <td>
                            <div class="w100 inline-object checkbox-custom checkbox-success">
                                <input type="checkbox" checked="" id="cb5" name="ReportRead">
                                <label for="cb5">Okuma</label>
                            </div>
                            <div class="w100 inline-object checkbox-custom checkbox-success">
                                <input type="checkbox" checked="" id="cb6" name="ReportWrite">
                                <label for="cb6">Yazma</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- End of Role Detail Table -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Save Button -->
            <button type="button" class="btn btn-primary w150" data-toggle="modal" data-target="#userDetailModal">Kaydet</button>
        </div>
    </div>
</section>

@section scripts{
}

