@model Headstone.AI.Models.ViewModels.TicketViewModel
@{
    ViewBag.Title = "İletişim Detayları";
    Session["PageName"] = "tickets";
}
@section head{
}

<section id="content" class="animated fadeIn">
    <div class="ph10">
        <h2>İletişim Detayları</h2>
        <hr class="alt short">
    </div>
</section>


@section scripts{


}

