@model Headstone.AI.Models.ViewModels.TicketListViewModel

@{
    ViewBag.Title = "İletişim Formları";
    Session["PageName"] = "tickets";
}
@section head{
}

<section id="content" class="animated fadeIn">
    <h2>İletişim formları</h2>
    <hr class="alt short">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</section>


@section scripts{


}
