<!-- Footer start -->
<footer class="footer footer-v2">
    <div class="container bt-1px-default">
        <div class="row align-items-md-end mb-5">
            <div class="col-md-3">
                <div class="social-icons mb-3">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6 text-md-center">
                <div class="newsletter">
                    <h5>Bültenimize <span class="color-twine">Abone Olun</span></h5>
                    <form id="subscribe" class="ae-4" novalidate="true">
                        <input type="email" value="" name="EMAIL" id="subscribe-email" placeholder="E-Posta adresinizi buraya girin" class="input-38">
                        <button class="btn btn-lg btn-filled" type="submit" name="newsletter_submit">Abone Ol</button>
                        <label for="subscribe-email" class="subscribe-message"></label>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="payment-cards mb-2">
                    <a href="#"><img src="~/Content/Images/Icons/payment/1.png" alt=""></a>
                    <a href="#"><img src="~/Content/Images/Icons/payment/2.png" alt=""></a>
                    <a href="#"><img src="~/Content/Images/Icons/payment/3.png" alt=""></a>
                    <a href="#"><img src="~/Content/Images/Icons/payment/4.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="foo-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="foo-nav">
                        <ul>
                            <li>@Html.ActionLink("KVKK Aydınlatma Metni", "Agreement", "Static")</li>
                            <li>@Html.ActionLink("Üyelik Sözleşmesi", "MembershipConditions", "Static")</li>
                            <li>@Html.ActionLink("Bize Ulaşın", "ContactUs", "Static")</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-md-right">
                    <div class="copyright-text">
                        &copy; 2020&nbsp;<b>Headstone</b> Bütün hakları saklıdır.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->