<!-- Start LeftSidebar-->
<div class="mblmenu-container">
    <span class="mblmenu_toggler"><i class="fas fa-angle-right"></i></span>
    <a href="~/" class="logo" style="visibility:hidden">
        <img src="~/Content/Images/Icons/logo.png" alt="">
    </a>

    <div class="mblmenu-wrap">
        <nav class="mobile-menu">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="search-left-bar">
            <ul>
                <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                <li><a href="~/Product/Index">SHOP<span class="new">new</span></a></li>
                <li><a href="#">Hot Item <span class="sale">sale</span></a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- End LeftSidebar-->