@{
    ViewBag.Title = "Ürün Raporları";
    Session["PageName"] = "reports";
}

@section head{
    <!-- Require to Excell Export -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>

    <!-- Kendo Telerik CSS -->
    <link href="https://kendo.cdn.telerik.com/2016.2.714/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.714/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2016.2.714/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Kendo Telerik JS -->
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/messages/kendo.messages.tr-TR.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2016.2.714/js/cultures/kendo.culture.tr-TR.min.js"></script>
}

<section id="content">
    <!-- Page Intro -->
    <div class="mb20">
        <h4>Page Header</h4>
        <hr class="alt short">
        <div class="row">
            <div class="col-md-8">
                <p class="text-muted">
                    Ürünleri belirli bir sütuna göre gruplamak için lütfen bu sütunun başlığını aşağıda belirtilen alana sürükleyip bırakınız. Sıralama yapmak için ise lütfen ilgili sütunun adına, filtreleme için ise ilgili sütunun isminin sağında bulunan ok imlecine tıklayınız.
                </p>
            </div>
        </div>
    </div>
    <!-- End of Page Intro -->

    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<Headstone.AI.Models.ViewModels.ProductViewModel>().Name("Products").Columns(col =>
        {
            col.Bound(u => u.ProductId).Title("Id");
            col.Bound(u => u.Created).Format("{0:dd.MM.yyyy}").Title("Ürün Eklenme Tarihi");
            col.Bound(u => u.Name).Title("Adı");
            col.Bound(u => u.StatusName).Title("Durum");
            col.Bound(u => u.AnyPictures).Title("Görseli var mı?");
            col.Bound(u => u.TrademarkName).Title("Marka");
            col.Bound(u => u.CategoryList).Title("Kategoriler");
            col.Bound(u => u.ResellerName).Title("Ürünü Giren");
        })
               .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("GetProducts", "Reports")).PageSize(50))
                .ToolBar(excel => excel.Excel())
            .Groupable()
            .Filterable()
            .Pageable(pageable => pageable.Refresh(true).PageSizes(new int[] { 25, 50, 100, 1000 }).ButtonCount(5))
            .Sortable()
            .Filterable(f => f.Mode(GridFilterMode.Menu))
            .Selectable(a => a.Mode(GridSelectionMode.Multiple))
            .Excel(e => e
                .FileName("Ürün Listesi.xls")
                .Filterable(true)
                .AllPages(true)
                )
            )

        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        kendo.culture("tr-TR");
    </script>


}
