@model Headstone.AI.Models.ViewModels.ReportsHomeViewModel

@{
    ViewBag.Title = "Satış Raporları";
    Session["PageName"] = "reports";
}
@section head{
}

<section id="content" class="animated fadeIn">
    <h2>Satış Raporları</h2>
    <hr class="alt short">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</section>


@section scripts{


}
