@{
    ViewBag.Title = "KVKK Bilgilendirme";
}

<div class="container mt-3">

    <h1>KVKK Çerçevesinde Bilgilendirme Metni</h1>
    <p><strong>KİŞİSEL VERİLERİN KORUNMASI KANUNU &Ccedil;ER&Ccedil;EVESİNDE BİLGİLENDİRME METNİ, RIZA BEYANI VE ELEKTRONİK TİCARİ İLETİŞİM İZNİ</strong></p>

    <p>Değerli M&uuml;şterilerimiz;</p>

    <p>HEADSTONE Z&uuml;ccaciye Ticaret ve Sanayi A.Ş.&rsquo;ye&nbsp;<strong>(&ldquo;HEADSTONE&rdquo;)</strong>&nbsp;olarak 6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamında veri sorumlusu olarak m&uuml;şterilerimizin ve &ccedil;alışanlarımızın kişisel verilerini işleyecek ve mevzuatın izin verdiği durumlarda &uuml;&ccedil;&uuml;nc&uuml; kişilere aktarabileceğiz. İşbu aydınlatma metni ile Kanun h&uuml;k&uuml;mleri gereğince karşılıklı hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerimiz konusunda sizleri bilgilendiriyoruz.</p>

    <p><strong>1. Kişisel Verileriniz ve İşlenme Ama&ccedil;ları&nbsp;</strong></p>

    <p>Tarafınıza ait kişisel bilgiler; Web sitemizi veya mobil uygulamalarımızı ziyaretiniz, Mağazalarımızdan yaptığınız alışverişler, telefon veya e-posta yazışmalarındaki paylaşımlarınız, iş yerimizi ziyaretiniz gibi kaynaklardan toplanmaktadır.&nbsp;<strong>HEADSTONE</strong>&rsquo;dan mal veya hizmet satın almanız veya bir başka surette ticari veya hukuki ilişkiye girmeniz durumunda bu verilerinizden; kimlik bilgileri (ad, soyad, TC kimlik numarası, cinsiyet, doğum tarihi) başta olmak &uuml;zere; iletişim verileriniz (e-mail adresi, adres ve telefon bilgileri, IP adresi),&nbsp;<strong>HEADSTONE</strong>&nbsp;faaliyet alanı kapsamında satın aldığınız &uuml;r&uuml;ne ilişkin veriler, g&ouml;rsel ve işitsel verileriniz,&nbsp;<strong>HEADSTONE</strong>&nbsp;tarafından, Kanunun 5. Maddesi 2. Fıkrasında belirtilen hukuka uygunluk sebepleri &ccedil;er&ccedil;evesinde, s&ouml;zleşmenin ifası ve yasal y&uuml;k&uuml;ml&uuml;l&uuml;klerin yerine getirilmesi amacıyla ve meşru menfaatler kapsamında işlenecektir.</p>

    <p>Yine yukarıda sayılanların dışında&nbsp;<strong>HEADSTONE</strong>&nbsp;tarafından sunulan &uuml;r&uuml;n ve hizmetlerimizden sorunsuz olarak yararlanabilmeniz, &uuml;r&uuml;n ve hizmet &ccedil;eşitliliğimizin geliştirilebilmesi ve zaman zaman sizin i&ccedil;in &ldquo;en iyi hizmet en iyi &uuml;r&uuml;n&rdquo; prensibi ile hizmet sağlanabilmesi amacıyla,&nbsp;<strong>HEADSTONE</strong>&rsquo;dan satın aldığınız &uuml;r&uuml;nler ile ilgili olarak otomatik sistemler aracılığı ile kişisel &uuml;r&uuml;n alışkanlıklarınız hakkında analiz yapılarak, bu kapsamdaki m&uuml;şteri hizmetleri, t&uuml;ketici hakları ve diğer imkanlardan istifade edebilmeniz, &ccedil;eşitli rapor, analiz ve &ccedil;alışmaların hazırlanması ve sunulması i&ccedil;in temel hak ve &ouml;zg&uuml;rl&uuml;klerinize zarar vermemek kaydı ile konum verisi, eğitim verisi, meslek verisi, kıyafet verisi, ara&ccedil; plakası ve g&ouml;r&uuml;nt&uuml;s&uuml; verileri, aile bireyleri verisi,&nbsp;<strong>HEADSTONE</strong>&nbsp;tarafından sunulan her t&uuml;rl&uuml; &uuml;r&uuml;n ve hizmete ilişkin kullanım alışkanlığınızı, tercih, zevk ve beğenilerinizi ifade eden kişisel verileriniz ve finansal verileriniz rızanız alınmak suretiyle işlenebilecektir.</p>

    <p><strong>2. Kişisel Verilerin İşlenmesinde Hukuki Sebepler</strong></p>

    <p>Kişisel verileriniz, şirketimiz&nbsp;<strong>HEADSTONE</strong>&nbsp;tarafından&nbsp;<strong>HEADSTONE HOME , EMSAN, JUMBO ,COOKPLUS</strong>&nbsp;ve diğer markalar altında sunulan &uuml;r&uuml;n ve hizmetlerimizden sorunsuz olarak yararlanabilmenizi sağlamak, alınan bilgiler ile &uuml;r&uuml;n &ccedil;eşitliliğimizi geliştirebilmek, beğeninize g&ouml;re &uuml;r&uuml;n &ccedil;eşitliliği sağlamak, yukarıda tanımı yapılan bilgileriniz alınarak sizin hakkınızda kişisel bir pazarlama hizmeti sağlayarak &ldquo;en iyi &uuml;r&uuml;n&rdquo; prensibi ile hizmet sunmak, otomatik sistemler aracılığı ile kişisel alışveriş alışkanlıklarınız hakkında analiz yapmak amacıyla ve yine grup şirketleri, iş ortakları, iştirakleri, tedarik&ccedil;ileri, servis sağlayıcıları tarafından da kullanılmak &uuml;zere, aldığınız/ilgilendiğiniz &uuml;r&uuml;nler ve ilgili m&uuml;şteri hizmetleri, t&uuml;ketici hakları ve diğer imkanlardan istifade edebilmeniz ve/veya bunlarla ilgili ticari/mali/hukuki sorumlulukların yerine getirilebilmesi ve/veya temel hak ve &ouml;zg&uuml;rl&uuml;klerinize zarar vermemek kaydı ile hukuken meşru menfaatler i&ccedil;in gereken veya zorunlu olan durumlarda işlenebilecektir.</p>

    <p>Şayet daha &ouml;nceden alınmış rıza ve izniniz mevcut değilse; yukarıda belirtilen ve Kanunun 5/2 maddesinde yer alan hukuka uygunluk sebeplerinden birine girmeyen kişisel verileriniz i&ccedil;in yasal zorunluluk gereği rızanızı talep edeceğiz. Bu durumda, mağazamızda uygulaması varsa yazılı imzalı izin ile birlikte aynı hukuki nitelik ve değerde olmak &uuml;zere dijital ortamda da izin verebileceksiniz. Dijital ortamda (SMS, ELEKTRONİK POSTA, MOBIL PUSH NOTIFICATION ve diğer) bilginize sunulan iş bu elektronik ticari iletişim izni metni ve kişisel verilerin işlenmesi bilgilendirme ve rıza metnini değerlendirdikten sonra uygun bulmuş iseniz, sadece size &ouml;zel &uuml;retilmiş ve cep telefonunuza g&ouml;nderilmiş, siz dışında hi&ccedil; kimse tarafından bilinmeyen şifreyi, kasa g&ouml;revlisine bildirmeniz durumunda elektronik iletişim izni ve yukarıda belirtilen kişisel verileriniz i&ccedil;in rıza işleminiz tamamlanmış olacaktır. Bu hususlarda t&uuml;m talep ve dilekleriniz i&ccedil;in 0850 252 55 72 no&rsquo;lu telefondan veya &ldquo;<strong><a href="mailto:info@krc.com">info@krc.com</a></strong>&rdquo; mail adresinden HEADSTONE&rsquo;ya başvurabilirsiniz.</p>

    <p><strong>3. Verilerin Paylaşımı ve Aktarımı</strong></p>

    <p>Mağazalarımız, web sitelerimiz, mobil aplikasyonlarımız &uuml;zerinden, doğrudan sizlerden alınan ve şirketimiz tarafından &ccedil;eşitli kanallardan temin edilen kişisel verileriniz mevzuatta belirlenen g&uuml;venlik ve gizlilik esasları uyarınca yeterli ve etkili &ouml;nlemler alınmak kaydıyla; yasal zorunluluk gereği bu verileri talep etmeye yetkili olan kamu kurum veya kuruluşları, faaliyetlerimiz gereği anlaşmalı olduğumuz yurt i&ccedil;indeki ve dışındaki kurumlar, iştiraklerimiz ve iş ortaklarımız ile yukarıda a&ccedil;ıklanan rızanız kapsamında paylaşabilecektir.</p>

    <p><strong>4. Kanun Kapsamındaki Haklarınız</strong></p>

    <p>Kişisel veri sahipleri olarak, haklarınıza ilişkin taleplerinizi&nbsp;<strong><a href="http://www.krc.com.tr/">www.krc.com.tr</a></strong>&nbsp;internet adresinden kamuoyu ile paylaşılmış olan&nbsp;<strong>HEADSTONE</strong>&nbsp;Kişisel Verilerin Korunması ve İşlenmesi Politikası&rsquo;nda ve Veri Sahibi Başvuru Prosed&uuml;r&uuml;&rsquo;nde d&uuml;zenlenen y&ouml;ntemlerle (Veri Sahibine Başvuru Usulleri Tebliği esas alınmıştır) ve başvurunuzu aynı web adresinde yayınlanan kişisel veri başvuru formunu doldurmak veya başvuru formunda yazılı zorunlu bilgilerinizi i&ccedil;erir başka bir belge veya e-posta i&ccedil;eriği suretiyle yazılı olarak veya kayıtlı elektronik posta (KEP) adresi, g&uuml;venli elektronik imza, mobil imza ya da ilgili kişi tarafından&nbsp;<strong>HEADSTONE</strong>&rsquo;ya daha &ouml;nce bildirilen ve&nbsp;<strong>HEADSTONE</strong>&rsquo;nın sisteminde kayıtlı bulunan elektronik posta adresini kullanmak suretiyle veya başvuru amacına y&ouml;nelik geliştirilmiş bir yazılım ya da uygulama vasıtasıyla kimliğiniz teyit edilebilir bir bi&ccedil;imde&nbsp;<strong>HEADSTONE</strong>&rsquo;ya iletmeniz durumunda&nbsp;<strong>HEADSTONE</strong>, talebin niteliğine g&ouml;re talebi en kısa s&uuml;rede ve en ge&ccedil; otuz g&uuml;n i&ccedil;inde &uuml;cretsiz olarak sonu&ccedil;landıracaktır. Ancak, işlemin ayrıca bir maliyeti gerektirmesi h&acirc;linde, HEADSTONE tarafından Kişisel Verileri Koruma Kurulu&rsquo;nca belirlenen tarifedeki &uuml;cret alınacaktır. Bu kapsamda kişisel veri sahipleri;</p>

    <ol>
        <li>Kişisel veri işlenip işlenmediğini &ouml;ğrenme,</li>
        <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
        <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını &ouml;ğrenme,</li>
        <li>Yurt i&ccedil;inde veya yurt dışında kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişileri bilme,</li>
        <li>Kişisel verilerin eksik veya yanlış işlenmiş olması h&acirc;linde bunların d&uuml;zeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere bildirilmesini isteme,</li>
        <li>6698 sayılı Kanun ve ilgili diğer kanun h&uuml;k&uuml;mlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması h&acirc;linde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere bildirilmesini isteme,</li>
        <li>İşlenen verilerin m&uuml;nhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya &ccedil;ıkmasına itiraz etme,</li>
        <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması h&acirc;linde zararın giderilmesini talep etme haklarına sahiptir.</li>
    </ol>

    <p>Kişisel verilerinizle ilgili kapsamlı bilgi i&ccedil;in&nbsp;<strong><a href="http://www.krc.com.tr/">www.krc.com.tr</a></strong><strong>, dışında&nbsp;<a href="http://www.HEADSTONE-home.com/">www.HEADSTONE-home.com</a>&nbsp;,&nbsp;<a href="http://www.jumbo.com.tr/">www.jumbo.com.tr</a>,&nbsp;&nbsp;<a href="http://www.cookplus.com/">www.cookplus.com</a>&nbsp;, www.perabulvari.com</strong>&nbsp;sitesinde yer alan&nbsp;<strong>HEADSTONE KİŞİSEL VERİLERİN İŞLENMESİ POLİTİKASI</strong>&rsquo;nı inceleyebilirsiniz.</p>

    <p><strong>HEADSTONE Z&Uuml;CCACİYE TİCARET VE SANAYİ A.Ş.</strong></p>

    <p><strong>VERİ SORUMLUSU</strong></p>

    <p>Yakuplu Mahallesi, &nbsp;Beysan Sanayi Sitesi</p>

    <p>Birlik Caddesi No:24 Beylikd&uuml;z&uuml;/İstanbul</p>

    <p>Telefon: +90 (212) 412 44 00</p>

    <p>Fax: +90 (212) 412 44 99</p>

    <p><a href="http://www.krc.com.tr/">www.krc.com.tr</a></p>

    <p><a href="mailto:info@krc.com">info@krc.com</a></p>

    <p>Mersis No: 0506002476900010</p>

    <p><strong>TİCARİ ELEKTRONİK İLETİ İZNİNİZ</strong></p>

    <p>HEADSTONE tarafından yukarıda belirtilen kişisel verilerimin işlenmesi suretiyle,<strong>&nbsp;HEADSTONE HOME, EMSAN, JUMBO, COOKPLUS, PERA BULVARİ</strong>&nbsp;web sitelerinde (internet ve/veya mobil versiyonlarına) veya mağazalarda &uuml;yelik/alışveriş/ziyaret işlemleri sırasında verdiğim ve bilahare muhtelif suretler ile vereceğim iletişim adreslerime (cep telefonu, mail adresim ve diğerlerine) gerek her t&uuml;rl&uuml; &uuml;yelik/alışveriş işlemleri ve uygulamaları, pazarlama faaliyetleri ve akdi-kanuni hususlarda bilgilendirilmem, gerek &ccedil;eşitli &uuml;r&uuml;n-hizmetlerin ve genel/&ouml;zel imkanların duyurulması, tanıtım ve reklamının yapılması i&ccedil;in Şirketiniz&nbsp;<strong>HEADSTONE Z&Uuml;CCACİYE TİCARET VE SANAYİ. A.Ş</strong>.&#39;ye tarafıma ilgili kanunlara uygun olarak ticari elektronik iletiler ve diğer iletiler g&ouml;nderileceği, &ouml;te yandan, (&uuml;yeliğim varsa) istediğim her zaman Sitenizdeki &uuml;yelik sayfasından iletişim tercihlerimi değiştirebileceğimi (bilahare iletişimi a&ccedil;tığımda, varsa &ouml;nceki red bildirimim dikkate alınmaksızın ve ayrıca bir işleme gerek olmaksızın aynı kanaldan devam edeceği) veya hi&ccedil;bir gerek&ccedil;e g&ouml;stermeksizin tarafıma gelen SMS/e-mail mesajlarında (ya da varsa yetkili mercilerce kurulan/kurdurulan sistemde) belirtilen işlemi (red) yaparak iletişimi durdurabileceğimi (kanunlar gereği m&uuml;mk&uuml;n/gerekli iletişimlerin her durumda devam edeceği) ve diğer t&uuml;m ilgili hususlarda buradaki a&ccedil;ıklamalar ve/veya s&ouml;zleşme ile bilgilenmiş/bilgilendirilmiş olarak ve iletişim bilgilerim de dahil s&ouml;zleşmedeki her t&uuml;rl&uuml; kişisel verilerime ilişkin b&uuml;t&uuml;n izinlerim-haklarım her hal&uuml;karda ve ayrıca ge&ccedil;erli kalmak &uuml;zere; her t&uuml;rl&uuml; &uuml;r&uuml;n ve hizmetlere ilişkin &ccedil;eşitli bilgilendirme, tanıtım, reklam, promosyon, satış ve pazarlama amacıyla, keza, mağaza kartı, &uuml;yelik-alışveriş bilgilendirmeleri, işlem ve uygulamaları i&ccedil;in Şirketinizce kanunlara uygun şekilde SMS/kısa mesaj, anlık bildirim, otomatik arama, telefonla arama, bilgisayar, telefon, internet, sosyal medya ile online reklam ağları, bluetooth-beacon dahil kablosuz genel-&ouml;zel bağlantılar ve ağlar, faks, e-posta/mail, her t&uuml;rl&uuml; bildirimler ve diğer elektronik iletişim ara&ccedil;ları-kanalları ile tarafıma ticari elektronik iletiler ve diğer iletiler g&ouml;nderilmesine tarafıma &ouml;zel &uuml;retilmiş ve cep telefonuma g&ouml;nderilmiş kodu kasa g&ouml;revlisine s&ouml;yleyerek onay veriyorum.</p>

    <p><strong>Bilgi Notu :</strong></p>

    <p>6563 Sayılı Elektronik Ticaretin D&uuml;zenlenmesi Hakkında Kanun uyarınca; onayın geri alındığına ilişkin kayıtlar bu tarihten itibaren 1 yıl; ticari elektronik iletinin i&ccedil;eriği ve g&ouml;nderiye ilişkin diğer her t&uuml;rl&uuml; kayıt ise gerektiğinde ilgili bakanlığa sunulmak &uuml;zere 3 (&Uuml;&ccedil;) yıl saklanacaktır. S&uuml;re ge&ccedil;tikten sonra kişisel verileriniz&nbsp;<strong>HEADSTONE&nbsp;</strong>tarafından veya talebiniz &uuml;zerine silinir, yok edilir veya anonim hale getirilir.</p>

</div>

